{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <div class="mt-12 py-12 px-8 grid grid-cols-1 sm:grid-cols-5 gap-4 items-center border border-rose-200 dark:border-white rounded-xl">
        <div class="col-span-5 sm:col-span-2">
            <img src="{% static 'images/live-chat.jpg' %}">
        </div>

        <div class="col-span-3 sm:col-span-3">
            <h1 class="mb-8 text-xl sm:text-2xl text-center dark:text-gray-300">Smyrnov Diman oma projekti</h1>

            <h2 class="text-md text-gray-500 dark:text-gray-300 sm:text-lg p-2">
                Tämä on chat-toiminnon käyttöönotto verkkosivustolla kommunikointia varten johtajan/järjestelmänvalvojan kanssa.
            </h2>
            <h2 class="text-md text-gray-500 dark:text-gray-300 sm:text-lg p-2">
                Projektissa käytetään: Python-ohjelmointikieltä, Django-kehystä, Django Channelsin HTTP/WebSocket-palvelinta Websocketin kanssa työskentelyyn.
            </h2>
        </div>
    </div>

    {% if False == user %}
        {% include 'chat/partials/chat_bubble.html' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}