{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <div class="mt-12 py-12 px-8 grid grid-cols-5 gap-4 items-center border border-rose-200 rounded-xl">
        <div class="col-span-2">
            <img src="{% static 'images/header.png' %}">
        </div>

        <div class="col-span-3">
            <h1 class="mb-8 text-3xl">Smyrnova Diman oma projekti</h1>

            <h2 class="text-lg text-gray-500 p-2">
                Tämä on chat-toiminnon käyttöönotto verkkosivustolla kommunikointia varten johtajan/järjestelmänvalvojan kanssa.
            </h2>
            <h2 class="text-lg text-gray-500 p-2">
                Projektissa käytetään: Python-ohjelmointikieltä, Django-kehystä, Django Channelsin HTTP/WebSocket-palvelinta Websocketin kanssa työskentelyyn.
            </h2>
        </div>
    </div>

    {% if False == user %}
        {% include 'chat/partials/chat_bubble.html' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}